html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* departments */
.departments {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
}

.departments h1 {
    text-align: center;
    color: #333;
}

.departments table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.departments thead {
    background-color: #007bff;
    color: #fff;
}

.departments th, ..departments td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.departments tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.departments tbody tr:hover {
    background-color: #f1f1f1;
}

